Source: renx-launcher
Section: unknown
Priority: optional
Maintainer: Robert Middleton <robert.middleton@rm5248.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, qt5-default, pkg-config, liblog4cxx-dev
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/renx-launcher.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/renx-launcher.git

Package: renx-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xdelta3
Description: Renegade-X launcher
 Unofficial Renegade-X launcher
